<!DOCTYPE html>
<html lang="sk">

<head>
    <meta charset="UTF-8">
    <title>PyDopSim Dashboard</title>
</head>

<style>
    img {
        outline: none;
        border: none;
    }

    form {
        text-align: center;        
    }

    body {
        background-color: #1e1848;
        color: #ffffff;        
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }
</style>

<body>    
    <img src="assets/app_icon.png" alt="PyDopSim logo" class="center">    
    <h1 style="text-align: center; font-size: 45px;">PyDopSim Dashboard</h1>
    <!--- add other website elements -->
</body>

</html>